/* importerer Google Fonts  Roboto fonten*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100..900&display=swap');

/* Denne setter regler som alt i css må følge*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* Dette er en felles container som holder alle bildene*/

.slider-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* Denne bestemmer hvilken størelse og posisjon bildene skal ha når de er på skjermen */

.slider-wrapper .slider-item {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Denne bestemmer rekkefølgen ,plasseringen og farge-tonen på bildene i karusellen*/

.slider-wrapper .slider-item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(20%);
    background-image: url("img-1.jpg");
    background-size: cover;
    background-position: center;
}

.slider-wrapper .slider-item:nth-child(2)::before {
    background-image: url("img-2.jpg");
}

.slider-wrapper .slider-item:nth-child(3)::before {
    background-image: url("img-3.jpg");
}

.slider-wrapper .slider-item:nth-child(4)::before {
    background-image: url("img-4.jpg");
}

.slider-wrapper .slider-item:nth-child(5)::before {
    background-image: url("img-5.jpg");
}

/*Denne bestemmer plasseringen og fargen til teksten på bildene*/

.slider-wrapper .slider-item .slide-content {
    color: #fff;
    z-index: 20;
    width: 100%;
    margin:  0 auto;
    padding: 0 1.25rem 0.625rem;
    position: relative;
}

/* Denne sikrer at teksten ikke går lenger ut enn 35%*/

.slider-wrapper .slider-item .slide-content > * {
    max-width: 35%;
}

/* Denne bestemmer størelsen og tykkelsen på tekten over overskriften*/

.slider-item .slide-content .slide-subtitle {
    font-size: 1rem;
    font-weight: normal;
}

/* Denne bestemmer størelsen, tykkelsen på tekten under overskriften, avstanden mellom overskriften og underoverskriften og bestemmer at alle bokstavene i overskriften skal være i store bokstaver*/

.slider-item .slide-content .slide-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.313rem;
    text-transform: uppercase;
}

/* Denne bestemmer størelsen og tykkelsen på teksten under overskriften*/

.slider-item .slide-content .slide-description {
    margin-top: 1.563rem;
    line-height: 1.563rem;
}

/* Denne bestemmer utseende, størelsen og tykkelsen på knappen*/

.slider-item .slide-content .slide-button {
    color: #fff;
    width: 15.625rem;
    padding: 0.813rem 0;
    display: block;
    margin-top: 2.813rem;
    font-size: 0,8rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.063rem;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.125rem solid #fff;
    transition: 0.5s ease
}

/* Denne bestemmer bakrundens og tekstens farge når man hovrer over den med musen*/

.slider-item .slide-content .slide-button:hover {
    color: #000;
    background: #fff;
}